<!DOCTYPE html>
<html>
<head>
    <title>Upload Video</title>
</head>

<body>

<h1>Upload Video</h1>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <input
        type="text"
        name="title_html"
        placeholder="Enter Video Title"
        required>

    <br><br>

    <textarea
        name="description_html"
        placeholder="Enter Description"
        rows="5"
        cols="40"
        required></textarea>

    <br><br>

    <input
        type="file"
        name="video"
        accept="video/*"
        required>

    <br><br>

    <button type="submit">
        Upload Video
    </button>

</form>

</body>
</html>